<html>
  <head>
    <body>
      <title>
        {{Title}}
      </title>
      <p>My Name is {{Name}} </p><br />
      <p>My Gender is {{sex}} </p><br />
      <p>My Salary is : {{sal}} </p><br />
      <p>And i Born in {{BirthYear}} </p><br />

      {{{list}}}

<br>

<a href="/babygirl"> Want to see My Beautiful Girl ?</a><br>

    </body>
  </head>
  {{>footer}}
</html>